[Unit]
Description=Yaids Daemon

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/yaids /etc/yaids/rules.txt eth0
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
